@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

.home{
	background-image: url("../img/pattern.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background-position: fixed;
  font-family: 'Lato', sans-serif;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
h1{ 
	position: absolute;
	top: -9999em;  
	left: -9999em;
 }

.text{
    vertical-align: middle;
    text-align: center;
    margin: auto auto !important;
    width: 80%;
    height: 100%;
}
a:link,a:hover{
  color:black;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
a:visited{
  color:green;
}

.box{
  margin: 10px 10px;
  display: inline-block;
  background-color:rgba(255,255,255, .5)
}

.box:hover{
  background-color:rgba(255,255,255, .8 )
}

.move{
  padding: 10%;
}

.top-buffer { 
	margin-top:30px;
}
.box-buffer{
  width:55%;
  height:60%;
  margin:0 auto;
}

.container{
  padding-top: 15px;
  width:60%;
}

.paragraph{
    width: 70%;
    color: #000;
    margin: 0 auto 12px;
    padding-top: 10%;
    letter-spacing: 0.015em;
}


#text1 {
    border: 2px solid rgb(173, 204, 204);
    height: 25px;
    width: 223px;
    box-shadow: 0 0 27px rgb(204, 204, 204) inset;
    transition: 500ms all ease;
    padding: 3px 3px 3px 3px;
    float:right;
}
#text2 {
    border: 2px solid rgb(173, 204, 204);
    height: 25px;
    width: 223px;
    box-shadow: 0 0 27px rgb(204, 204, 204) inset;
    transition: 500ms all ease;
    padding: 3px 3px 3px 3px;
    float:left;
}
#text1:hover,
#text1:focus,
#text2:hover,
#text2:focus {
    width: 260px;
    transition: 500ms all ease;
    background: url() no-repeat right;
    background-size: 25px 25px;
    background-position: 96% 62%;
    padding: 3px 32px 3px 3px;
}


.navbox {
  width:600px;
  padding-top: 25px;
  height:100px;
  margin-top: 10%;
  margin: 0 auto;
}