@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

.home{
	background-image: url("../img/pattern.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background-position: fixed;
  font-family: 'Lato', sans-serif;
}

h1{ 
	position: absolute;
	top: -9999em;  
	left: -9999em;
 }

p{
    vertical-align: middle;
    text-align: center;
    margin: auto auto !important;
    width: 80%;
    height: 100%;
}
. card{
  margin: 10px 10px;
  display: inline-block;
  background-color:rgba(255,255,255, .4)
}

. card:hover{
  background-color:rgba(255,255,255, .8)
}

.top-buffer { 
	margin-top:30px;
}
.box-buffer{
  margin-top:40px;
}

.contain-buffer{
  margin-top: 30px;
  position: relative;
}

.paragraph{
    width: 70%;
    color: #000;
    margin: 0 auto 12px;
    padding-top: 10%;
    letter-spacing: 0.015em;
}

p{
 font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .5em;
}

