<!doctype html>

<html lang = "en">

<head>
	<meta charset = "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  	<link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 	<link rel="stylesheet" href="../static/css/animate.css">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/style.css">

	<title>Dalvonic</title>
	<link href ="../static/css/dalvonic-style.css" rel= "stylesheet">
	<script src="../static/js/dalvonic-interactive.js"></script>
</head>
<body class= "home">

<div class="scroll-container">
	<header class = "row container top-buffer span3">
		<h1 class="move" style="display:none">Dalvonic</h1>
		<img class= "col-s12 img-responsive center-block" src="../static/img/header.png">
	</header>
	<div id="wrapper">
	<div class="container center box-buffer">
		<div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
		</div>
		<div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
		</div>
		<div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
		</div>
		<div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
			<div class="hexagon"><span></span></div>
		</div>
	</div>

<div class="" style="padding-top: 2%; ">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">info_outline</i></h2>
            <h5 class="center">What are we doing?</h5>
          </div>
        </div>
		</div>
		

		<div class="row container">
		<div class="col s6 m6 l6 container">
		<p class="light"> With the explosion of the Internet, the dissemination of information and opinion has been democratized significantly. Opposed to a top-down information flow, there's now a bidirectional flow. Tools like Twitter, FB, and other services have served to empower activists and regular people to challenge the state and media narratives that are the primary opponents of free speech. Through our team's experiences with information wars and censorship in the Middle East, US, and Central America, we've identified the remaining challenges to freedom of speech to be three-fold: self-censorship, lack of decent Internet access, and echo chambers. 
		</p>
          </div>
          <div class="col s6 m6 l6 container">
		<p class="light"> We chose to tackle the problem of echo chambers and, particularly, in-grouping. Despite the onslaught of massive amounts of information, services like Twitter, Reddit, Facebook,  and other blogging services are highly personalized. Through social network graph analyses, it's very strongly evident that people follow and remain exclusively in the company of very like-minded individuals online. Despite the availability of information, people continue to fall into their in-grouping tendencies and become even more biased. We aim to expose users to people who share opposing views to them and prompt users to consider information from ulterior, opposing sources based on sentimental and subjectivity analysis of their tweets (with a CNN classifier).  </p>
          </div>
        </div>
		</div>

    </div>
  </div>






<!-- Jquery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="../static/js/jquery.stellar.min.js"></script>

	<script src="../static/js/main.js"></script>


</div>
</body>
</html>