<!doctype <html>
<html lang= "en">


<head>
	<meta charset = "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <!-- Compiled and minified JavaScript -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<!--CSS -->
 	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
<!-- 	<link rel="stylesheet" href="../static/css/icomoon.css">
 -->	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="../static/css/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/css/magnific-popup.css">
	<!-- Bootstrap --> 
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Modernizr JS -->
<link rel="stylesheet" href="../static/css/style.css">
 <!-- Title -->
	<title>Dalvonic</title>
	<link href ="../static/css/dalvonic-style.css" rel= "stylesheet">
	<script src="../static/js/dalvonic-interactive.js"></script>
</head>

<!-- <section id="fh5co-home cloud-scroll" data-section="home";data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate"></h1>
							<h2>Where do you fall?</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section> -->

<section id="cloud-scroll">

</section>

</body>
</html>







































</body> 
</html>