<!doctype <html>
<html lang= "en">


<head>
	<meta charset = "utf-8">
	<meta name="viewport" content="width=device-width">
	<!-- Title -->
	<title>Dalvonic</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<link href ="../static/css/dalvonic-style.css" rel= "stylesheet">
	<script src="../static/js/dalvonic-interactive.js"></script>
	<link href ="../static/css/clouds.css" rel= "stylesheet">
	<link href="../static/css/parallax.css" rel="stylesheet">	
	<link href="../static/css/parallax-stars.css" rel="stylesheet">
	<script src="../static/js/Chart.js"></script>
	<script src="../static/js/Chart.Scatter.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>


<body>
	<div class="parallax">
		<div id="group1" class="parallax_group">
			<div class="parallax_layer parallax_layer--base">	
				<div class="title1">You're an opinionated twat</div>			
				<div class="clouds">			
					<div class="cloud x2"></div>
					<div class="cloud x3"></div>
					<div class="cloud x4"></div>	
					<div class="cloud x11"></div>
					<div class="cloud x12"></div>
					<div class="cloud x13"></div>
					<div class="cloud x5"></div>
					<div class="cloud x6"></div>						
					<div class="cloud x1"></div>
					<div class="cloud x10"></div>				
					<div class="cloud x9"></div>
				</div>
			</div>


			<div id="group2" class="parallax__group">
				<div class="parallax__layer parallax__layer--base">
					<div container>

						<div class="row move">
							<p class=" parallaxp col-lg-6 col-md-6 col-sm-6"> With the explosion of the Internet, the dissemination of information and opinion has been democratized significantly. Opposed to a top-down information flow, there's now a bidirectional flow. Tools like Twitter, FB, and other services have served to empower activists and regular people to challenge the state and media narratives that are the primary opponents of free speech. Through our team's experiences with information wars and censorship in the Middle East, US, and Central America, we've identified the remaining challenges to freedom of speech to be three-fold: self-censorship, lack of decent Internet access, and echo chambers.</p>

							<p class=" parallaxp col-lg-6 col-md-6 col-sm-6"> We chose to tackle the problem of echo chambers and, particularly, in-grouping. Despite the onslaught of massive amounts of information, services like Twitter, Reddit, Facebook,  and other blogging services are highly personalized. Through social network graph analyses, it's very strongly evident that people follow and remain exclusively in the company of very like-minded individuals online. We aim to expose users to people who share opposing views to them and prompt users to consider information from ulterior, opposing sources based on sentimental and subjectivity analysis of their tweets (with a CNN classifier).</p>
						</div>
					</div>
				</div>

				<div class="parallax__layer  parallax__layer--fore">
					<div class="title">And what do I think about that?</div>
					<div class="cloud x6"></div>
					<div class="cloud x7"></div>	
					<div class="cloud x1"></div>
					<div class="cloud x8"></div>
					<div class="cloud x10"></div>
					
				</div>
				<div class="parallax_layer parallax__layer--back">			
				</div>	
			</div>
		</div>

		<div id="group3" class="parallax__group">
			<div class="parallax__layer parallax__layer--fore">
				<div id='stars'></div>
				<div id='stars2'></div>
				<div id='stars3'></div>
				<div id='title'></div>
			</div>
			<div class="parallax__layer parallax__layer--back"></div>
			<div class="parallax__layer parallax__layer--base">
				<div class="title">Here is where the graph could go :)</div>
				<canvas id="myChart" width="400" height="400"></canvas>

			</div>

		</div>

		<div id="group4" class="parallax__group">
			<div class="parallax__layer parallax__layer--base">
			</div>
			<div class="parallax__layer parallax__layer--back">			
			</div>
			<div class="parallax__layer parallax__layer--deep">
			</div>
		</div>

		
	</div>
</div>		
<script>
	var dataSet = {{ data | safe }};
	console.log(dataSet);
	// var formattedXY = [];
	// for (var i = 0; i<dataSet.length; i++){
	// 	formattedXY.push({x: dataSet[i][5], y:dataSet[i]['u']})
	// }
	// console.log(dataSet.length);
	// var data = [
 //    {
 //      label: 'My First dataset',
 //      strokeColor: '#F16220',
 //      pointColor: '#F16220',
 //      pointStrokeColor: '#fff',
 //      data: formattedXY
 //    }
 //  ];
 //  	var options = {
 //  		// SUPPORTED GLOBAL OPTIONS

	// 	// Boolean - If we should show the scale at all
	// 	showScale: true,

	// 	// String - Colour of the scale line
	// 	scaleLineColor: "rgba(0,0,0,.1)",

	// 	// Number - Pixel width of the scale line
	// 	scaleLineWidth: 1,

	// 	// Boolean - Whether to show labels on the scale
	// 	scaleShowLabels: true,

	// 	// Interpolated JS string - can access value
	// 	scaleLabel: "<%=value%>",

	// 	// Interpolated JS string - can access value
	// 	scaleArgLabel: "<%=value%>",

	// 	// String - Message for empty data
	// 	emptyDataMessage: "chart has no data"
	// 	  	}
	// var ctx = document.getElementById("myChart").getContext("2d");
	// new Chart(ctx).Scatter(data, options);

</script>

</body>
</html>

</body> 
</html>